# systemd service file for LiPoPi button and low battery shutdown script
# change the /home/pi paths to suite your configuration

[Service]
ExecStart=/usr/bin/python3 /home/pi/player/OdioPlayer2.py
WorkingDirectory=/home/pi/player/
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=OdioPlayer2
User=root
Group=root

[Install]
WantedBy=multi-user.target
